.rubiks {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.rubiks-col {
  display: flex;
  flex-direction: column;
}

.face {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.tile {
  width: 50px !important;
  height: 50px;
  margin: 4px !important;
  border-radius: 10px;
  background-color: blue;
  border-color: none;
}
